# my virtual env ( uv )
cd   ~/virtual_env
source theprof_qt5/bin/activate

# not a real requirements, mor just comments

# installs -----------------
one of
uv pip install  pyqt5
uv pip install  pyqt6
and for compatability
uv pip install qtpy


and if you use spyder you will probably get pyqt5
we like
uv pip install  spyder

next are required to get everything running
uv pip install  wat-inspector

uv pip install  pyqtgraph
uv pip install  matplotlib


# future use -----------------
uv pip install
uv pip install
uv pip install




 # --------------------- notes




